[defaults]
# Usar el inventario por defecto
inventory = ./inventory.ini

# Deshabilitar host key checking (ya lo gestionamos con ssh-keyscan)
host_key_checking = False

# Mostrar output más legible
stdout_callback = yaml

# No crear archivos .retry
retry_files_enabled = False

# Timeout de conexión SSH
timeout = 30

# Número de procesos paralelos
forks = 5

[privilege_escalation]
# Configuración para sudo
become = True
become_method = sudo
become_user = root
become_ask_pass = False